<!DOCTYPE html>
<html lang="es">

<head>
    <title>Código de verificación | Cumbre</title>
    {% include './components/head.html' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/confirm_code.css') }}">
</head>

<body>
    <div class="container">
        <h1>Confirmar Código de Verificación</h1>
        <p>Introduce el código de verificación que hemos enviado a tu correo electrónico.</p>

        <form action="{{ url_for('confirm_verification_code') }}" method="POST">
            <input type="number" name="verification_code" placeholder="Código de verificación" required>
            <button type="submit">Confirmar Código</button>
        </form>

        <div class="errores">
            {% if get_flashed_messages() %}
                <ul class="flashes">
                    {% for message in get_flashed_messages() %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</body>

</html>