<!DOCTYPE html>
<html lang="es">

<head>
    {% include './components/head.html' %}
    <title>Reestablecer contraseña | Cumbre</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/acceder.css') }}">
</head>

<body id="desktop_base">
    {% include './components/accederHeader.html' %}
    <div class="contenido">
        <div class="pagina">
            {% include './components/bienvenidaForm.html' %}
            <div class="formulario">
                <h3>Recuperar contraseña</h3>
                <br>
                {% include './components/formResetPassword.html' %}
                <div class="iniciar_crear">
                    <span>¿Ya tienes una cuenta?</span><a href="/lohin">ACCEDER</a>
                </div>
            </div>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mediaQueryForm.css') }}">
</body>
<script src="{{ url_for('static', filename='js/redirigirMovil.js') }}"></script>
<style>
    @media (max-width: 787px) {
        .pagina {
            width: 100%;
            padding-top: 80px;
        }
    }

    @media (max-width: 471px) {
        .pagina .formulario {
            width: 70%;
        }
    }
</style>

</html>