<form action="/login" method="post">
    <input type="username" name="username" id="username" placeholder="Username" value="{{ username }}">
    <input type="password" name="password" id="password" placeholder="Contraseña">
    <div class="debajoInput">
        <div class="recordar">
            <input type="checkbox" name="recordar" id="recordar" value="Recordar">
            <label for="recordar">Recordar</label>
        </div>
        <a href="">¿Perdiste la contraseña?</a>
    </div>
    <button type="submit">
        <strong>INICIAR</strong>
    </button>
</form>
