<div class="grafico">
    <!--<canvas id="myChart" width="400" height="150"></canvas>-->
    <div id="chart">
        <!-- Aquí se renderizará el gráfico -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</div>

<script>
    var clicksPorDiaLabels = {{ clicks_por_dia.keys() | list | tojson }};
    var clicksPorDiaValues = {{ clicks_por_dia.values() | list | tojson }};
</script>

<script src="{{ url_for('static', filename='js/graficoDinero.js') }}"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/graficoVisitasDia.css') }}">