header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

header .sidebar {
    display: flex;
    align-items: center;
}

.sidebar button {
    display: flex;
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.sidebar button img {
    width: 20px;
}

.buscador {
    background-color: #252525;
    display: flex;
    border-radius: 100px;
}

.buscador button {
    padding: 10px;
}

.buscador input {
    background-color: transparent;
    border: none;
    padding: 0px 15px;
    padding-right: 0px;
    outline: none;
}

#mostrarBuscador {
    display: none;
}

@media (max-width: 606px) {
    .sidebar .buscador {
        display: none;
    }
    #mostrarBuscador {
        display: block;
        background-color: rgb(51, 51, 51);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
    }
}

@media (max-width: 521px) {
    #chat {
        display: none;
    }
}

@media (max-width: 434px) {
    header h1 {
        font-size: 22px;
    }
}